# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv

# Coverage
.coverage
htmlcov/
coverage.xml

# Editors
.idea/
.vscode/

# macOS
.DS_Store

# Scratch
old_code/